{% extends 'main/layout.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="features">
        <h1>ДГУНХ</h1>
        <h1>факультет информационных технологий и инженерии</h1>
        <p>
            На этом сайте представлены лабораторные работы или проекты студентов университета по дисциплине программная инженерия на платформе Arduino.
            Сайт создан для всех интересующихся робототехникой, компьютерными науками, программированием и т.д.
            Надеемся что разобрав наши работы вы откроете для себя новые знания.
            Спасибо за посещение ресурса!
        </p>
        <button class="btn btn-warning">Перейти к просмотру работ</button>
    </div>
{% endblock %}